extends layout

block content
 div(class="container")
    h1= title
    hr
    link(rel="stylesheet", href="/css/style.css")
    form(id='FlightForm', action="/resource/Flight", method="POST", style="max-width: 500px; margin: 0 auto;")
      div.form-group
         label.flightAttr(for='Model') Flight Model
         input#Model(type='text', name='Model')
      div.form-group
         label.flightAttr(for='cost') Flight Cost
         input#cost(type='text', name='cost')
      div.form-group
         label.flightAttr(for='capacity') Flight capacity
         input#capacity(type='number', name='capacity')
      div.form-group
         label.flightAttr(for='range') Flight range
         input#range(type='number', name='range')
      input(type="submit")
      script.
         document.forms['FlightForm'].addEventListener('submit', (event) => {
          event.preventDefault();
         // TODO do something here to show user that form is being submitted
         fetch(event.target.action, {
         method: 'POST',
         body: new URLSearchParams(new FormData(event.target)) // event.target is the form
         }).then((resp) => {
         return resp.json(); // or resp.text() or whatever the server sends
         }).then((body) => {
         alert("Save succeded")
         // TODO handle body
         }).catch((error) => {
         // TODO handle error
         alert("Save failed " + error )
         });
         })
         