extends layout
block content
  if (!user)
    div(class="container")
    div(class="row")
      - let login_destination = `dispatch(\"/login\")`
      button.btn( class="btn-success ml-1", onclick = login_destination) Login
      hr
      - let register_destination = `dispatch(\"/register\")`
      button.btn( class="btn-link ml-1", onclick = register_destination) Register
      br

  if (user)
   div(class="container")
    b You are currently logged in as #{user.username}
    hr
    div(class="row")
      - let flight_destination = `dispatch(\"/flight\")`
      button.btn( class="btn-warning ml-1", onclick = flight_destination) Take me to Flights
      hr
      - let logout_destination = `dispatch(\"/logout\")`
      button.btn( class="btn-secondary ml-1", onclick = logout_destination) Logout
      hr



  script.
   function dispatch(path){
      window.location.href=path
        }